*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/bin
/slidingmenulib/bin/
/slidingmenulib/build/
/slidingmenulib/gen/
/vitamio_lib/build/
/vitamio_lib/bin/
/vitamio_lib/gen/
